extends layout

block content
  header
    h1=viewModel.title
    if viewModel.hasTodos
      form(method="POST",action="/todos/toggle-completed")
        input(type="checkbox",name="are-all-complete",checked=viewModel.areAllCompleted,value="are-all-complete",hidden)
        if viewModel.areAllCompleted
          button(type="submit",id="toggle-completed",name="toggle-completed",aria-label="Update the status for all todos as incomplete") &and;
        else
          button(type="submit",id="toggle-completed",name="toggle-completed",aria-label="Update the status for all todos as complete") &or;
    form(method="POST",action="/todos/create")
      input(name="new-todo",placeholder="What needs to be done?",value="",autofocus,aria-label="New todo")
      button(type="submit") Submit
    if viewModel.error
      div(data-testid="error",class="error")= viewModel.error
  form(method="POST",action="/todos/save-all")
    main
      if viewModel.hasTodos
        section(data-testid="main")
          ul
            each todoViewModel in viewModel.todos
              li(data-id=todoViewModel.id)
                label(for="todo-"+todoViewModel.id)
                  input(type="checkbox",id="todo-"+todoViewModel.id,name="completed-todo-id",checked=todoViewModel.isCompleted,value=todoViewModel.id)
                input(type="text",data-id=todoViewModel.id,id="todo-text-"+todoViewModel.id,name="todo-text",value=todoViewModel.text)
                input(data-testid="button-remove-todo",type="submit",formaction="/todos/"+todoViewModel.id+"/remove",name="button-remove-todo-"+todoViewModel.id,value="Remove")
                input(type="hidden",id="todo-id-"+todoViewModel.id,name="todo-id",value=todoViewModel.id)
          input(type="submit",name="button-save",value="Save")
    if viewModel.hasTodos
      footer(data-testid="footer")
        input(type="submit",name="button-clear-completed",value="Clear completed")
